.container{
     max-width: 140rem;
     padding: 4.2rem;
     display: flex;
     justify-content: space-between;
     margin: auto;
}

.item{
     display: flex;
     justify-content: space-between;
     gap: 3rem;
}

li{
     list-style: none;
}

label,
input,
textarea {
     font-size: 1.8rem;
     line-height: 1.56;
     letter-spacing: 0.1rem;
     word-spacing: 0.06rem;
}